.wrap {
  background: $--bg-tile-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .portfolio__title {
    font: normal 700 3.5em $main-font-1;
    text-transform: uppercase;
    margin: 3rem 1rem;
    text-align: center;
  }

  .portfolio__item {
    text-align: center;
    margin: 0 auto;
  }

  .tile__portfolio {
    background: $--bg-tile-1;
    max-width: 600px;

    @include mobile {
      max-width: 100%;
    }
  }
}
