.wrap {
  background: $--bg-tile-1;
  max-width: 100%;
  padding: 3rem;

  .projects__wrapper {
    text-align: left;

    .projects__title {
      font: normal 700 3.5em $main-font-1;
      text-transform: uppercase;
      margin: 2rem 1rem;
      text-align: center;

      @include mobile {
        font: normal 700 2.5em $main-font-1;
      }
    }

    .procjects__description {
      font: normal 500 1.2em $main-font-1;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      margin: 0 auto;

      @include tablet {
        font: normal 500 1.2em $main-font-1;
        letter-spacing: 0.04em;
        line-height: 1.5em;
        margin: 1.5rem;
      }

      @include mobile {
        font: normal 500 1em $main-font-1;
        letter-spacing: 0.04em;
        line-height: 1.5em;
        margin: 1.5rem;
      }
    }

    .projects__item {
      font: normal 500 1.2em $main-font-1;
      letter-spacing: 0.1em;
      line-height: 1.5em;
      margin: 0 auto;

      @include tablet {
        font: normal 500 1.2em $main-font-1;
        letter-spacing: 0.04em;
        line-height: 1.5em;
        margin: 1.5rem;
      }

      @include mobile {
        font: normal 500 1em $main-font-1;
        letter-spacing: 0.04em;
        line-height: 1.5em;
      }
    }
  }
}
